doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
  body
    table.table.table-striped
      thead
        tr
          th Позиция
          th Пользователь
          th Рейтинг
      tbody
        for user in users
          tr
            td= user.rate
            td= user.name
            td= user.points
