doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
  body
    .jumbotron
        h1.display-3 Hello, world!
        p.lead
            | This is a demo!
        hr.my-4
